* {
    font-family: Microsoft YaHei;
}
QPlainTextEdit
{
	font-size: 14px;
	background:transparent;
	border-width:0;
	border-style:outset;
	color:black;
}

QLabel#reporterDetail
{
	font-size: 20px;
}
QLabel#reportTime
{
	font-size: 14px;
}